<%- include('partials/header')%> <% if(user && user.isMember){ %>
<div class="mainContainer">
  <% messages.forEach(message=>{ %>
  <div class="messageContainer">
    <div class="messageHeader">
      <img src="<%= message.user.avatar %> " alt="<%= message.user.avatar %>" />
      <h1><%= message.title %></h1>
    </div>

    <div class="messageMain">
      <p><%= message.text %></p>
    </div>
    <div class="messageFooter">
      <span>Posted by: <%= message.user.username %> </span>
      <span>On: <%= message.date_formated %> </span>
    </div>
    <% if(user.isAdmin){ %>
    <div>
      <form action="" method="POST">
        <input type="hidden" name="id" id="id" value="<%=message._id %> " />
        <button type="submit" class="deleteBtn">Delete Message</button>
      </form>
    </div>
    <% } %>
  </div>
  <% }) %>
</div>

<% }else if(user && !user.isMember){ %>

<div class="mainContainer">
  <% messages.forEach(message=>{ %>
  <div class="messageContainer">
    <div class="messageHeader">
      <img src="<%= message.user.avatar %> " alt="<%= message.user.avatar %>" />
      <h1><%= message.title %></h1>
    </div>
    <div class="messageMain">
      <p><%= message.text %></p>
    </div>
    <div class="messageFooter">
      <span>Posted by: Private</span>
      <span>On: Private </span>
    </div>
    <% if(user.isAdmin){ %>
    <div>
      <form action="" method="POST">
        <input type="hidden" name="id" id="id" value="<%=message._id %> " />
        <button type="submit" class="deleteBtn">Delete Message</button>
      </form>
    </div>
    <% } %>
  </div>
  <% }) %>
</div>
<% }else{ %>
<div class="mainContainer">
  <% messages.forEach(message=>{ %>
  <div class="messageContainer">
    <div class="messageHeader">
      <img src="<%= message.user.avatar %> " alt="<%= message.user.avatar %>" />
      <h1><%= message.title %></h1>
    </div>
    <div class="messageMain">
      <p><%= message.text %></p>
    </div>

    <div class="messageFooter">
      <span>Posted by: Private</span>
      <span>On: Private </span>
    </div>
  </div>
  <% }) %>
</div>
<% } %>
