
  <%- include('partials/header')%> 


    <% if(user && user.isMember){ %>
    <div>
      <% messages.forEach(message=>{ %>
      <div>
        <h1><%= message.title %></h1>
        <img src="<%= message.user.avatar %> " alt="<%= message.user.avatar %>">
        <p><%= message.text %></p>
        <span>Posted by: <%= message.user.username %> </span>
        <span>On: <%= message.date_formated %> </span>
        <% if(user.isAdmin){ %>
        <div>
          <form action="" method="POST">
            <input type="hidden" name="id" id="id" value="<%=message._id %> " />
            <button type="submit">Delete Message</button>
          </form>
        </div>
        <% } %>
      </div>
      <% }) %>
    </div>

    <% }else if(user && !user.isMember){ %>

    <div>
      <% messages.forEach(message=>{ %>
      <div>
        <h1><%= message.title %></h1>
        <p><%= message.text %></p>
        <img src="<%= message.user.avatar %> " alt="<%= message.user.avatar %>">
        <span>Posted by: Private</span>
        <span>On: Private </span>
        <% if(user.isAdmin){ %>
        <div>
          <form action="" method="POST">
            <input type="hidden" name="id" id="id" value="<%=message._id %> " />
            <button type="submit">Delete Message</button>
          </form>
        </div>
        <% } %>
      </div>
      <% }) %>
    </div>
    <% }else{ %>
    <div>
      <% messages.forEach(message=>{ %>
      <div>
        <h1><%= message.title %></h1>
        <p><%= message.text %></p>
        <img src="<%= message.user.avatar %> " alt="<%= message.user.avatar %>">
        <span>Posted by: Private</span>
        <span>On: Private </span>
      </div>
      <% }) %>
    </div>
    <% } %>

