<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <% if(user){ %>
    <p>Hi there <%= user.username %></p>
    <% if(user.isMember){%>
    <p>You are a member!</p>
    <a href="/message">Create new message</a>
    <% }else{ %>
    <a href="/message">Create new message</a>
    <a href="/member">Become a member</a>
    <% } %>

    <a href="/logout">Logout</a>

    <% }else{ %>
    <p>Hi guest</p>
    <a href="/signup">Signup</a>
    <a href="/login">Login</a>

    <% } %>

    <div>
      <% messages.forEach(message=>{ %>
      <div>
        <h1><%= message.title %></h1>
        <span><%= message.user.username %> </span>
        <span><%= message.date_formated %> </span>
        <p><%= message.text %></p>
      </div>
      <% }) %>
    </div>
  </body>
</html>
